Repository tfl-php-scripts/NinjaLinks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: artifacts, artifacts-and-readme-upload

artifacts:
  stage: artifacts-creation
  script:
  - mkdir -p php74-$CI_COMMIT_REF_NAME
  - cp -r public/* php74-$CI_COMMIT_REF_NAME
  artifacts:
    paths:
    - php74-$CI_COMMIT_REF_NAME

artifacts-and-readme-upload:
  stage: files-upload
  image: ubuntu
  before_script:
  - apt-get update -yqq
  - apt-get install -yqq zip
  - apt-get update -y && apt-get install -yqqf openssh-client git unzip sshpass rsync --fix-missing
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client git -y )
  ...

Testing .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Adding gitignore + moving the files to subfolder
  .gitignore
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/header.php
  public/ninjalinks/admin/index.php
  public/ninjalinks/admin/login.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/click.php
  public/ninjalinks/config.sample.php
  public/ninjalinks/contact.php
  public/ninjalinks/convert_from_simpledir.php
  public/ninjalinks/footer.php
  public/ninjalinks/functions.php
  public/ninjalinks/header.php
  public/ninjalinks/index.php
  public/ninjalinks/install.php
  public/ninjalinks/links.php
  public/ninjalinks/njicons/add.gif
  public/ninjalinks/njicons/approve.gif
  public/ninjalinks/njicons/del.gif
  public/ninjalinks/njicons/edit.gif
  public/ninjalinks/njicons/placeholder.gif
  public/ninjalinks/njicons/premium.gif
  public/ninjalinks/stylesheet.css
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Adding gitignore + moving the files to subfolder
  public/ninjalinks/functions.php
  public/ninjalinks/install.php
Due: artifacts, artifacts-and-readme-upload

Code style: converting to short syntax array
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/config.sample.php
  public/ninjalinks/convert_from_simpledir.php
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Code style: removing closing tags
  public/ninjalinks/click.php
  public/ninjalinks/config.sample.php
  public/ninjalinks/convert_from_simpledir.php
Due: artifacts, artifacts-and-readme-upload

Probable bug: Only variables and references returned from functions can be passed by reference
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Code style: new style constructor
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Hiding all mysqli_* functions in SQLConnection class
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/click.php
  public/ninjalinks/functions.php
  public/ninjalinks/install1.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Replacing ereg with preg_match
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/contact.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Code smell fixes
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/functions.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

PHP inspection fixes
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/header.php
  public/ninjalinks/admin/index.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/contact.php
  public/ninjalinks/functions.php
  public/ninjalinks/header.php
  public/ninjalinks/index.php
  public/ninjalinks/install1.php
  public/ninjalinks/links.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Refactoring click.php
  public/ninjalinks/click.php
Due: artifacts, artifacts-and-readme-upload

Refactoring functions.php
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Fixing PHP inspections results
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/index.php
  public/ninjalinks/admin/login.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/contact.php
  public/ninjalinks/functions.php
  public/ninjalinks/header.php
  public/ninjalinks/index.php
  public/ninjalinks/install1.php
  public/ninjalinks/links.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Getting rid of preg_replace_callback
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Fixing PHP inspections results
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/header.php
  public/ninjalinks/contact.php
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Reformatting
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/header.php
  public/ninjalinks/admin/index.php
  public/ninjalinks/admin/login.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/click.php
  public/ninjalinks/config.sample.php
  public/ninjalinks/contact.php
  public/ninjalinks/footer.php
  public/ninjalinks/header.php
  public/ninjalinks/index.php
  public/ninjalinks/links.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Reformatting
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Fixing forms
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/config.sample.php
  public/ninjalinks/functions.php
  public/ninjalinks/inc/RobotessNet/Autoloader.php
  public/ninjalinks/inc/RobotessNet/Singleton.php
  public/ninjalinks/inc/RobotessNet/StringUtils.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Remove old file
  public/ninjalinks/convert_from_simpledir.php
Due: artifacts, artifacts-and-readme-upload

Using * and 'required' for required fields; use my own clean function
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/contact.php
  public/ninjalinks/functions.php
  public/ninjalinks/inc/RobotessNet/Autoloader.php
Due: artifacts, artifacts-and-readme-upload

Fixes for adding links when there's banned
  public/ninjalinks/functions.php
Due: artifacts, artifacts-and-readme-upload

Using MySQL native NOW()
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/admin/update-to-robotess-fork-1.0.php
  public/ninjalinks/functions.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Robotess Fork
  public/ninjalinks/admin/header.php
  public/ninjalinks/admin/index.php
  public/ninjalinks/admin/login.php
  public/ninjalinks/admin/rss.js
  public/ninjalinks/config.sample.php
  public/ninjalinks/footer.php
  public/ninjalinks/inc/RobotessNet/App.php
  public/ninjalinks/install1.php
Due: artifacts, artifacts-and-readme-upload

Rector
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/header.php
  public/ninjalinks/admin/index.php
  public/ninjalinks/admin/login.php
  public/ninjalinks/admin/manage_banned.php
  public/ninjalinks/admin/manage_categories.php
  public/ninjalinks/admin/manage_links.php
  public/ninjalinks/admin/manage_updates.php
  public/ninjalinks/click.php
  public/ninjalinks/contact.php
  public/ninjalinks/footer.php
  public/ninjalinks/functions.php
  public/ninjalinks/header.php
  public/ninjalinks/index.php
  public/ninjalinks/links.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

Readme and changelog
  CHANGELOG.md
  README.md
Due: artifacts-and-readme-upload

The rest of CI
  .gitlab-ci.yml
  Makefile
  composer.json
  composer.lock
  docker-compose.yml
  docker/Dockerfile
  docker/configs/config.php
  docker/docker-entrypoint.sh
  docker/init-db.sql
  docker/vhost.conf
  phpstan-baseline.neon
  phpstan-gitlab.neon
  phpstan.neon
  phpstan/constants.php
  rector-downgrade-72.php
  rector.php
Due: none

The rest of CI (fix)
  .gitlab-ci.yml
  docker/configs/config.php
  phpstan-baseline.neon
  public/ninjalinks/config.sample.php
  public/ninjalinks/functions.php
  rector-downgrade-72.php
  rector.php
Due: artifacts, artifacts-and-readme-upload

Update README.md
  README.md
Due: artifacts-and-readme-upload

1.1 Beta
  README.md
  docker/configs/config.php
  public/ninjalinks/addlink.php
  public/ninjalinks/admin/header.php
  public/ninjalinks/admin/index.php
  public/ninjalinks/admin/update-to-robotess-fork-1.0.php
  public/ninjalinks/admin/update-to-robotess-fork-1.1.php
  public/ninjalinks/contact.php
  public/ninjalinks/functions.php
  public/ninjalinks/inc/RobotessNet/App.php
  public/ninjalinks/inc/RobotessNet/DBUtils.php
  public/ninjalinks/inc/RobotessNet/StringUtils.php
  public/ninjalinks/updatelink.php
Due: artifacts, artifacts-and-readme-upload

1.1 Beta phpstan baseline
  phpstan-baseline.neon
Due: none

1.1 Beta composer update
  composer.json
Due: none

1.1 Beta gitlab-ci
  .gitlab-ci.yml
Due: none

Update CHANGELOG.md, public/ninjalinks/inc/RobotessNet/App.php files
  CHANGELOG.md
  public/ninjalinks/inc/RobotessNet/App.php
Due: artifacts, artifacts-and-readme-upload

Path conditions:
  artifacts: any of: public/**/*
  artifacts-and-readme-upload: any of: public/**/*, README.md
